@import "../../../index.scss";

.products-container {
  display: flex;
  justify-content: center; /* Alinear las cartas a la izquierda */
  flex-wrap: wrap; /* Permitir que las cartas se ajusten en la pantalla */
  margin-top: 20px;
}

.card-container {
  padding: 10px; /* Espaciado entre las cartas */
  width: 300px;
}

.card-img {
  max-width: 100%;
  height: auto;
}

.price-container{
  display: flex;
  justify-content: end;
}
