@import "../../../index.scss";

.card-container {
  display: flex;
  flex-wrap: wrap;
  // flex-direction: row;
  margin: 10px;
  
}

.card-style {
  display: flex;
  width: 400px;
  height: 300px;
  padding: 10px;
  flex-direction: row;
}
