@import "../../../index.scss";

.sort-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $darkgrey-back;
  padding: 10px;
}

.span-text {
  position: relative;
  bottom: 5px;
  font-family: "Heebo";
  color: $white-color;
  margin: 20px;
}

.arrow {
  color: white;
  border-color: white;
}
