@import "../../../index.scss";

.form-container {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 5%;
  width: 50%;
  height: 50%;
  background-color: $white-back;
  border-radius: 10px;
  border: solid 5px $grey-back;
}

.form-style {
  padding: 100px;
}