@import "../../../index.scss";

#top-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

.logo-container {
  height: 100px;
  width: 100px;
}

.logo{
  width: 100%;
}
