@import "../../../index.scss";

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  

  padding: 10px;
  background-color: $darkgrey-back;
}

a {
  font-family: 'Offbit101dotbold', sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
  color: $white-color;
}

a:hover {
  color: $primary-color;
}
